nodered-clipboard.txt
[{"id":"4cb40350.1e411c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"174d2e3b.f8a662","type":"inject","z":"4cb40350.1e411c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["9cfef0e5.8565a","97999a6f.637b88"]]},{"id":"39ded485.2f48bc","type":"debug","z":"4cb40350.1e411c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":120,"wires":[]},{"id":"9cfef0e5.8565a","type":"exec","z":"4cb40350.1e411c","command":"vcgencmd","addpay":true,"append":"measure_temp","useSpawn":"false","timer":"","oldrc":false,"name":"getCPUTemp","x":350,"y":60,"wires":[["39ded485.2f48bc"],[],[]]},{"id":"97999a6f.637b88","type":"exec","z":"4cb40350.1e411c","command":"python iot.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"run iot.py","x":340,"y":180,"wires":[[],[],[]]},{"id":"76a8c8f8.7acda8","type":"mqtt in","z":"4cb40350.1e411c","name":"","topic":"iot-2/cmd/blink/fmt/json","qos":"2","broker":"8cf6d07d.3c294","x":180,"y":480,"wires":[["660b34a8.83afcc"]]},{"id":"d1d7b9e.2a4b148","type":"mqtt in","z":"4cb40350.1e411c","name":"","topic":"iot-2/cmd/turn/fmt/json","qos":"2","broker":"8cf6d07d.3c294","x":180,"y":300,"wires":[["d725a92f.5b4178"]]},{"id":"f98daee4.4fb84","type":"function","z":"4cb40350.1e411c","name":"turnOFF","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":320,"wires":[["e9ecba4f.396f18"]]},{"id":"901d02bd.a8b31","type":"debug","z":"4cb40350.1e411c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":380,"wires":[]},{"id":"660b34a8.83afcc","type":"function","z":"4cb40350.1e411c","name":"Parse JSON","func":"let parse = JSON.parse(msg.payload)\n\nmsg.payload = {\n    cmd: parse.d.fields[0].field,\n    value: parse.d.fields[0].value\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":480,"wires":[["901d02bd.a8b31","25227239.18e80e"]]},{"id":"561c8f0b.b3678","type":"switch","z":"4cb40350.1e411c","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":300,"wires":[["607f9e76.f8749"],["f98daee4.4fb84"]]},{"id":"d725a92f.5b4178","type":"function","z":"4cb40350.1e411c","name":"Parse JSON","func":"let parse = JSON.parse(msg.payload)\n\nmsg.payload = {\n    cmd: parse.d.fields[0].field,\n    value: parse.d.fields[0].value\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["561c8f0b.b3678","901d02bd.a8b31"]]},{"id":"e9ecba4f.396f18","type":"rpi-gpio out","z":"4cb40350.1e411c","name":"","pin":"7","set":true,"level":"0","freq":"","out":"out","x":1040,"y":320,"wires":[]},{"id":"607f9e76.f8749","type":"function","z":"4cb40350.1e411c","name":"turnON","func":"msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":220,"wires":[["e9ecba4f.396f18"]]},{"id":"711d57fb.ab0c78","type":"rpi-gpio out","z":"4cb40350.1e411c","name":"","pin":"11","set":false,"level":"0","freq":"500","out":"pwm","x":780,"y":660,"wires":[]},{"id":"c2635a9f.e814b8","type":"delay","z":"4cb40350.1e411c","name":"","pauseType":"delay","timeout":"3.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":760,"wires":[["1aeb277b.1cc999"]]},{"id":"1aeb277b.1cc999","type":"function","z":"4cb40350.1e411c","name":"buzzer10","func":"msg.payload = 10;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":760,"wires":[["711d57fb.ab0c78","cb756cde.3870f"]]},{"id":"cb756cde.3870f","type":"delay","z":"4cb40350.1e411c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":320,"y":820,"wires":[["d0e08fc1.410f7"]]},{"id":"d0e08fc1.410f7","type":"function","z":"4cb40350.1e411c","name":"buzzer0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":820,"wires":[["711d57fb.ab0c78","bc151754.d7e4a8"]]},{"id":"bc151754.d7e4a8","type":"delay","z":"4cb40350.1e411c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":320,"y":880,"wires":[["767fd4f5.44784c"]]},{"id":"767fd4f5.44784c","type":"function","z":"4cb40350.1e411c","name":"buzzer30","func":"msg.payload = 30;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":880,"wires":[["711d57fb.ab0c78","7fc7be9e.f0803"]]},{"id":"7fc7be9e.f0803","type":"delay","z":"4cb40350.1e411c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":320,"y":940,"wires":[["b8374aa6.05d928"]]},{"id":"b8374aa6.05d928","type":"function","z":"4cb40350.1e411c","name":"buzzer0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":940,"wires":[["711d57fb.ab0c78","adba052c.2cce08"]]},{"id":"adba052c.2cce08","type":"delay","z":"4cb40350.1e411c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":320,"y":1000,"wires":[["dbb84ca.69201b"]]},{"id":"dbb84ca.69201b","type":"function","z":"4cb40350.1e411c","name":"buzzer50","func":"msg.payload = 50;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1000,"wires":[["7356821b.33209c","711d57fb.ab0c78","cdcb2841.04bf08"]]},{"id":"7356821b.33209c","type":"delay","z":"4cb40350.1e411c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":320,"y":1060,"wires":[["a2320f83.7080b"]]},{"id":"a2320f83.7080b","type":"function","z":"4cb40350.1e411c","name":"buzzer0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1060,"wires":[["711d57fb.ab0c78","e9adbb4c.3611d8"]]},{"id":"cdcb2841.04bf08","type":"function","z":"4cb40350.1e411c","name":"turnON","func":"msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1000,"wires":[["e9ecba4f.396f18"]]},{"id":"e9adbb4c.3611d8","type":"function","z":"4cb40350.1e411c","name":"turnOFF","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1060,"wires":[["e9ecba4f.396f18"]]},{"id":"fa9b16c3.842668","type":"mqtt in","z":"4cb40350.1e411c","name":"","topic":"iot-2/cmd/shoot/fmt/json","qos":"2","broker":"8cf6d07d.3c294","x":190,"y":660,"wires":[["711d57fb.ab0c78","c2635a9f.e814b8"]]},{"id":"efe1107f.8f5e3","type":"function","z":"4cb40350.1e411c","name":"buzzer10","func":"var count = global.get('count') || msg.payload.value;\n\nif (count > 0){\n    msg.payload = 1;\n    count -=1;\n} else {\n    msg.payload = 0;\n}\n\nglobal.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":480,"wires":[["daefb61a.6a8bb8","e9ecba4f.396f18","a9588fb1.44975"]]},{"id":"daefb61a.6a8bb8","type":"delay","z":"4cb40350.1e411c","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":650,"y":580,"wires":[["6d16e2fd.4dbc3c"]]},{"id":"6d16e2fd.4dbc3c","type":"function","z":"4cb40350.1e411c","name":"buzzer10","func":"msg.payload = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":580,"wires":[["e9ecba4f.396f18"]]},{"id":"a9588fb1.44975","type":"debug","z":"4cb40350.1e411c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":480,"wires":[]},{"id":"a56f578a.820088","type":"function","z":"4cb40350.1e411c","name":"Save context","func":"context.flow.chatId = msg.payload.chatId;\ncontext.flow.type = msg.payload.type;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1220,"wires":[["7bbffe31.a32a9"]]},{"id":"7caf3ed7.990b","type":"function","z":"4cb40350.1e411c","name":"Restore context","func":"msg.payload.chatId = context.flow.chatId;\nmsg.payload.type = \"message\";\nmsg.payload.content = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":1220,"wires":[["6bb8f52d.e25b6c"]]},{"id":"5700f6e7.b7e818","type":"function","z":"4cb40350.1e411c","name":"Not authorized user","func":"msg.payload.content = \"You're not authorized user\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1380,"wires":[["6bb8f52d.e25b6c"]]},{"id":"b24dac22.2496e","type":"function","z":"4cb40350.1e411c","name":"getURL","func":"context.flow.chatId = msg.payload.chatId;\ncontext.flow.type = msg.payload.type;\nmsg.payload = msg.payload.weblink;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1300,"wires":[["dcdb51a6.7ae75"]]},{"id":"a1ece4ac.067da8","type":"switch","z":"4cb40350.1e411c","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"neq","v":"voice","vt":"str"},{"t":"eq","v":"voice","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1260,"wires":[["a56f578a.820088"],["b24dac22.2496e"]]},{"id":"cd8545aa.1c4be8","type":"play audio","z":"4cb40350.1e411c","name":"","voice":"","x":1130,"y":1220,"wires":[]},{"id":"47040787.909dc8","type":"function","z":"4cb40350.1e411c","name":"getOutput","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":1140,"wires":[["4576cd77.7a8f04"]]},{"id":"7e28ea11.3996a4","type":"mqtt in","z":"4cb40350.1e411c","name":"","topic":"iot-2/cmd/play/fmt/json","qos":"2","broker":"8cf6d07d.3c294","x":200,"y":1620,"wires":[["a4a34b20.368738"]]},{"id":"a4a34b20.368738","type":"function","z":"4cb40350.1e411c","name":"Parse JSON","func":"let parse = JSON.parse(msg.payload)\n\nmsg.payload = {\n    cmd: parse.d.fields[0].field,\n    value: parse.d.fields[0].value\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1620,"wires":[["efc7cc4c.59083"]]},{"id":"efc7cc4c.59083","type":"switch","z":"4cb40350.1e411c","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"CrazyFrog","vt":"str"},{"t":"eq","v":"Mario","vt":"str"},{"t":"eq","v":"MarioUnderworld","vt":"str"},{"t":"eq","v":"Natal","vt":"str"},{"t":"eq","v":"StarWars","vt":"str"},{"t":"eq","v":"TheFinal","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":570,"y":1620,"wires":[["dd3f570e.0855b8"],["9d39b31b.35165"],["53f4b14d.52bf4"],["4b0d0373.20c56c"],["bd4071b5.b51e9"],["b3fee878.17e2c8"]]},{"id":"dd3f570e.0855b8","type":"exec","z":"4cb40350.1e411c","command":"python crazyFrog.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"run crazyFrog.py","x":850,"y":1480,"wires":[[],[],[]]},{"id":"9d39b31b.35165","type":"exec","z":"4cb40350.1e411c","command":"python mario.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"run mario.py","x":830,"y":1540,"wires":[[],[],[]]},{"id":"53f4b14d.52bf4","type":"exec","z":"4cb40350.1e411c","command":"python marioUnderworld.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"run marioUnderworld.py","x":870,"y":1600,"wires":[[],[],[]]},{"id":"4b0d0373.20c56c","type":"exec","z":"4cb40350.1e411c","command":"python santa.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"run santa.py","x":830,"y":1660,"wires":[[],[],[]]},{"id":"bd4071b5.b51e9","type":"exec","z":"4cb40350.1e411c","command":"python starWars.py","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"run starWars.py","x":840,"y":1720,"wires":[[],[],[]]},{"id":"b3fee878.17e2c8","type":"exec","z":"4cb40350.1e411c","command":"python theFinalCountdown.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"run theFinalCountdown.py","x":880,"y":1780,"wires":[[],[],[]]},{"id":"299958b9.7e7ab8","type":"inject","z":"4cb40350.1e411c","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":780,"wires":[["711d57fb.ab0c78"]]},{"id":"a7f120ec.8eb7c","type":"inject","z":"4cb40350.1e411c","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":840,"wires":[["711d57fb.ab0c78"]]},{"id":"ff9ef21.ce2151","type":"telegram receiver","z":"4cb40350.1e411c","name":"","bot":"e13723fb.8ecf6","saveDataDir":"","x":190,"y":1320,"wires":[["a1ece4ac.067da8"],["5700f6e7.b7e818"]]},{"id":"6bb8f52d.e25b6c","type":"telegram sender","z":"4cb40350.1e411c","name":"","bot":"e13723fb.8ecf6","x":870,"y":1380,"wires":[[]]},{"id":"7bbffe31.a32a9","type":"watson-conversation-v1","z":"4cb40350.1e411c","name":"","workspaceid":"17e69ee4-f441-4fef-bc0b-7a1974060321","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","timeout":"","optout-learning":false,"x":700,"y":1220,"wires":[["7caf3ed7.990b","47040787.909dc8"]]},{"id":"dcdb51a6.7ae75","type":"watson-speech-to-text","z":"4cb40350.1e411c","name":"iotSTT","alternatives":1,"speakerlabels":false,"smartformatting":true,"lang":"pt-BR","langhidden":"","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"qrw5a3GdObDf","apikey":"","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":false,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":670,"y":1300,"wires":[["7bbffe31.a32a9"]]},{"id":"4576cd77.7a8f04","type":"watson-text-to-speech","z":"4cb40350.1e411c","name":"iotTTS","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"gfmq6fY64DwG","apikey":"","payload-response":true,"default-endpoint":false,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":1010,"y":1140,"wires":[["cd8545aa.1c4be8"]]},{"id":"25227239.18e80e","type":"msg-resend","z":"4cb40350.1e411c","interval":"2","intervalUnit":"secs","maximum":"10","bytopic":true,"clone":false,"firstDelayed":true,"addCounters":false,"highRate":false,"outputCountField":"5","outputMaxField":"value","name":"","x":590,"y":480,"wires":[["efe1107f.8f5e3"]]},{"id":"8cf6d07d.3c294","type":"mqtt-broker","z":"","name":"","broker":"q83xte.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"d:q83xte:Raspberry-Pi:my-first-device","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"iot-2/evt/sensor/fmt/json","birthQos":"0","birthPayload":"{d:{counter: 0,sensor: 0}}","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e13723fb.8ecf6","type":"telegram bot","z":"","botname":"plcpinhobot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"}]